<div class = "reserved_rooms_page">
  <h4 class = "reserved_rooms_title">予約済みルーム一覧</h4>
  <table class = "reserved_rooms_table">
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計料金</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
      </tr>
    </thead>

    <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= image_tag reservation.room.room_image, class: "room_image" %></td>
        <td><%= link_to reservation.room.room_name, room_path(reservation.room.id) %></td>
        <td><%= reservation.room.introduction %></td>
        <td><%= reservation.total_price %></td>
        <td><%= reservation.start_date.strftime('%Y年%m月%d日') %></td>
        <td><%= reservation.end_date.strftime('%Y年%m月%d日') %></td>
        <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
